body {
    font-family: 'Arial', sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: fit-content;
}

h1,
h2 {
    font-family: 'Helvetica', sans-serif;
    color: #333;
}

.main-menu {
    text-align: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 75%;
    overflow-y: visible;
    margin-top: 20px;
}

.title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.name-label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.name-input {
    padding: 10px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

.name-input:focus {
    border-color: #4caf50;
}

.play-btn {
    padding: 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.play-btn:hover {
    background-color: #45a049;
}

.play-btn:disabled,
.play-btn:hover:disabled {
    background-color: #b0b0b0;
    cursor: not-allowed;
}

.reset-btn {
    padding: 15px;
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.reset-btn:hover {
    background: rgba(200, 0, 0, 0.8);
}


.leaderboard {
    margin-top: 20px;
}

.leaderboard-title {
    font-size: 1.5rem;
    color: #555;
}

.leaderboard ol {
    padding-inline-start: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;
}

.leaderboard-name {
    color: #333;
}

.leaderboard-score {
    font-weight: bold;
    color: #4caf50;
}

.game-over-screen {
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 75%;
    background: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.game-over-screen h1 {
    font-size: 2rem;
    color: #ffffff;
}

.game {
    text-align: center;
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    min-height: fit-content;
    max-width: 75%;
    margin-top: 20px;
}

.score-display,
.hiscore-display {
    font-size: 1rem;
    margin-bottom: 20px;
}

#container {
    position: relative;
    width: 450px;
    max-width: 90%;
    aspect-ratio: 1;
    max-height: 90%;
    margin: auto auto;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #111111;
}

#container button {
    position: absolute;
    width: 50%;
    height: 50%;
    border: 14px solid #111111;
    cursor: pointer;
    transition: transform 0.1s;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

#green {
    top: 0;
    left: 0;
    background-color: #00A74A;
    border-top-left-radius: 400px;
}


#red {
    top: 0;
    right: 0;
    background-color: #FF4C4C;
    border-top-right-radius: 400px;
}


#yellow {
    bottom: 0;
    left: 0;
    background-color: #FED93F;
    border-bottom-left-radius: 400px;
}


#blue {
    bottom: 0;
    right: 0;
    background-color: #1C8CFF;
    border-bottom-right-radius: 400px;
}


#container button:active {
    transform: scale(0.9);
}


#counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111111;
    color: white;
    width: 100px;
    max-width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 10px solid #111111;
    z-index: 2;
    transition: background-color 0.2s ease;
}

.game-btn-pressed {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
    z-index: 1;
    transform: scale(1.2);
}

button.disabled {
    opacity: 0.6;
    pointer-events: none;
}


#container.blocked button {
    pointer-events: none;
}

#container.blocked #counter {
    background-color: #333333;
}
